@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;500;700&family=Shrikhand&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section img {
  max-width: 100%;
  max-height: 300px;
  width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: black;
}

body, html {
  font-family: "Roboto", sans-serif;
}

header h1, .menu__title, footer h4, .loader__text {
  font-family: Shrikhand, Roboto, sans-serif;
}

button {
  padding: 3px;
}

.menu button {
  padding: 20px 60px 20px 60px;
  font-size: 20px;
  border-radius: 40px;
  cursor: pointer;
  color: white;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  border: none;
  box-shadow: 5px 4px 8px 1px #919191;
}
.menu button:hover {
  transition-duration: 1s;
  filter: brightness(1.2);
  box-shadow: 8px 8px 12px 8px rgba(0, 0, 0, 0.5);
}

.title button {
  padding: 20px;
  font-size: 20px;
  border-radius: 40px;
  cursor: pointer;
  color: white;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  border: none;
  box-shadow: 5px 4px 8px 1px #919191;
}
.title button:hover {
  transition-duration: 1s;
  filter: brightness(1.2);
  box-shadow: 8px 8px 12px 8px rgba(0, 0, 0, 0.5);
}

.test {
  display: flex;
}

.list__button {
  padding: 20px 0px;
  margin: 20px 0px;
  display: flex;
  align-items: center;
  border-radius: 13px;
  box-shadow: 0.25rem 0.25rem 10px #e4e4e4;
  background-color: #f1f1f1;
  cursor: pointer;
}
.list__button span {
  position: absolute;
  left: 27px;
  padding: 3px;
  text-align: center;
  color: white;
  font-size: 15px;
  background-color: #9356DC;
  height: 25px;
  width: 25px;
  border-radius: 100px;
}
.list__button i {
  color: #727272;
  padding: 0px 0px 0px 40px;
}
.list__button p {
  padding: 0px 0px 0px 20px;
}

.list__button:hover {
  background-color: #f5edff;
}
.list__button:hover i {
  color: #9356DC;
}

.card__img {
  height: 200px;
}

.card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.menu__card {
  background-color: white;
  border-radius: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 3px 11px -3px #919191;
  overflow: hidden;
  cursor: pointer;
  animation: AnimationMenu 1s ease both;
  -webkit-animation: AnimationMenu 1s ease both;
}
.menu__card__text {
  padding: 17px 0px 17px 17px;
  width: 87%;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__card__text h3 {
  padding-bottom: 7px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu__card__text p {
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu__card__slide {
  display: flex;
}
.menu__card__slide__price {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 83px;
}
.menu__card__slide__validation {
  flex: 1;
  margin-right: -65px;
  height: 83px;
  width: 100px;
  display: flex;
  background-color: #99E2D0;
  align-items: center;
  justify-content: center;
  transition: all 0.1s ease;
}
.menu__card__slide__validation__icon {
  height: 30px;
  width: 30px;
  background-color: white;
  color: #99E2D0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
}
.menu__card__slide__validation__icon i {
  transform: rotate(-360deg);
  transition: 1s;
}

.menu__card:hover .menu__card__slide__validation i {
  transform: rotate(0);
}

.menu__card:hover .menu__card__slide__validation {
  margin-right: 0px;
  transition-duration: 1s;
}

@media screen and (max-width: 992px) {
  .menu__card:active .menu__card__slide__validation i {
    transform: rotate(0);
  }

  .menu__card:active .menu__card__slide__validation {
    margin-right: 0px;
    transition-duration: 1s;
  }
}
.card-1 {
  animation-delay: 0.5s;
}

.card-2 {
  animation-delay: 0.75s;
}

.card-3 {
  animation-delay: 1s;
}

.card-4 {
  animation-delay: 1.25s;
}

@keyframes AnimationMenu {
  0% {
    transform: translateY(15px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
header {
  box-shadow: 0px 0px 10px 0px #919191;
  position: relative;
}
header .header__logo {
  text-align: center;
  padding: 15px 0;
  margin: 0px;
}

.header--resto {
  box-shadow: none;
}
.header--resto i {
  position: absolute;
  left: 5%;
  top: 31%;
  font-size: 25px;
  top: 30%;
  color: #434343;
}

footer {
  background-color: #353535;
  padding: 20px;
}
footer h4 {
  color: white;
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: normal;
}
footer a {
  display: flex;
  color: white;
  padding: 0px 0px 10px 0px;
}
footer i {
  width: 30px;
}
footer ul {
  list-style: none;
}

.loader {
  z-index: 1;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 1;
  animation: loader 2s 2s forwards;
  background-color: #99e2d0a9;
}
.loader .loader__spinner {
  border: 5px solid rgba(255, 255, 255, 0);
  border-top: 5px solid #9356DC;
  border-bottom: 5px solid #FF79DA;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 5px;
  animation: spin 1.5s linear infinite;
}
.loader .loader__spinner .loader__spinner__in {
  border: 5px solid rgba(255, 255, 255, 0);
  border-top: 5px solid #9356DC;
  border-bottom: 5px solid #FF79DA;
  border-radius: 50%;
  width: 33px;
  height: 33px;
  margin: 3px;
  animation: spin 2s linear infinite;
}
.loader .loader__text {
  margin: 5px;
  background: linear-gradient(-45deg, #9356DC, #FF79DA);
  font-size: 40px;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes wave {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.searchbar {
  text-align: center;
  padding: 20px;
  color: #353535;
  background-color: #e2e2e2;
}

.title {
  padding: 40px 20px 50px 20px;
  text-align: center;
  background-color: #f1f1f1;
}
.title h2 {
  font-size: 29px;
  padding: 0px 20px 20px 20px;
}
.title h3 {
  font-weight: 300;
  font-size: 19px;
  padding-bottom: 30px;
}

.list {
  padding: 35px;
}

.restaurants {
  background-color: #f1f1f1;
  padding: 50px 20px;
}
.restaurants h2 {
  padding-bottom: 20px;
}
.restaurants .card {
  margin: 0px 0px 30px 0px;
  box-shadow: 0px 0px 10px 0px #919191;
  border-radius: 15px;
  background-color: white;
  position: relative;
}
.restaurants .card__img {
  height: 170px;
}
.restaurants .card__img img {
  border-radius: 15px 15px 0px 0px;
  height: 170px;
}
.restaurants .card__new {
  background-color: #99E2D0;
  color: #175344;
  font-weight: normal;
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 7px 14px;
  border-radius: 3px;
}
.restaurants .card__description {
  padding: 20px;
  position: relative;
}
.restaurants h3 {
  padding-bottom: 5px;
  font-size: 20px;
  font-weight: 700;
}
.restaurants p {
  font-size: 17px;
  font-weight: 300;
}
.restaurants i {
  position: absolute;
  right: 7%;
  top: 34%;
  font-size: 29px;
  font-weight: 300;
  color: #175344;
}
.restaurants i::before {
  transition: color 0.75s ease-in-out;
}
.restaurants i:hover::before {
  color: #99E2D0;
  font-weight: bold;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .list h2 {
    padding-bottom: 20px;
  }

  .step {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    column-gap: 5%;
  }
  .step .list__button {
    flex-direction: column;
  }
  .step .list__button span {
    position: relative;
    left: 5px;
    top: -35px;
    font-size: 20px;
    height: 35px;
    width: 35px;
  }
  .step .list__button i {
    padding: 0px 0px 0px;
    position: relative;
    left: 5px;
    top: -17px;
    font-size: 27px;
  }
  .step .list__button p {
    padding: 0px 8px;
    text-align: center;
    font-size: 20px;
  }

  .restaurants__card {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 47%);
    column-gap: 6%;
    grid-template-rows: repeat(2, 45%);
    row-gap: 10%;
  }
}
.menu {
  background-color: #f1f1f1;
  border-radius: 45px 45px 0px 0px;
  position: relative;
  top: -50px;
  padding: 34px 5% 5% 5%;
  margin-bottom: -50px;
}
.menu__title {
  font-size: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__title i::before {
  transition: color 0.75s ease-in-out;
}
.menu__title i:hover::before {
  color: #99E2D0;
  font-weight: bold;
  cursor: pointer;
}
.menu .menu__subtitle {
  font-size: 22px;
  font-weight: 300;
  padding: 30px 0px 5px 0px;
}
.menu .menu__subtitle:after {
  content: "";
  display: block;
  background-color: #99E2D0;
  width: 55px;
  height: 4px;
  margin-bottom: 20px;
}
.menu .menu__button {
  display: flex;
  justify-content: center;
  margin: 80px 0px 50px 0px;
}

@media only screen and (min-width: 768px) {
  .menu__list {
    padding: 3% 15%;
  }
}
@media only screen and (min-width: 992px) {
  .menu__list {
    padding: 0%;
    display: grid;
    grid-template-columns: repeat(3, 29%);
    column-gap: 6.5%;
  }
}

/*# sourceMappingURL=style.css.map */
