.menu {
    background-color: #f1f1f1;
    border-radius: 45px 45px 0px 0px;
    position: relative;
    top: -50px;
    padding: 34px 5% 5% 5%;
    margin-bottom: -50px;
    &__title {
        font-size: 28px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        i {
            @include heart_transition
        }
    }
    .menu__subtitle {
        font-size: 22px;
        font-weight: 300;
        padding: 30px 0px 5px 0px;
        &:after {
            content: "";
            display: block;
            background-color: #99E2D0;
            width: 55px;
            height: 4px;
            margin-bottom: 20px;
        }
    }
    .menu__button {
        display: flex;
        justify-content: center;
        margin: 80px 0px 50px 0px;
    }
}

@media only screen and (min-width: 768px) {
    .menu__list {
        padding: 3% 15%;
    }
}

@media only screen and (min-width: 992px) {
    .menu__list {
        padding: 0%;
        display: grid;
        grid-template-columns: repeat(3, 29%);
        column-gap: 6.5%;   
    }
}