@mixin pink__gradient__button($color1, $color2) {
    font-size: 20px;
    border-radius: 40px;
    cursor: pointer;
    color: white;
    background-image: linear-gradient(to top, $color1, $color2);
    border: none;
    box-shadow: 5px 4px 8px 1px #919191;
    &:hover {
        transition-duration: 1s;
        filter: brightness(1.2);
        box-shadow: 8px 8px 12px 8px rgba(0, 0, 0, 0.5);
      }
}


@mixin heart_transition {
    &::before {
      transition: color 0.75s ease-in-out;
  }
    &:hover::before {
        color: $color3;
        font-weight: bold;
        cursor: pointer;
    }
}